/* nav {
  border: solid red;
}
.navbar-toggler {
  
} */

@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');

#logo {
  font-family: 'Smokum', cursive;
  font-size: 40px;
}

.boxcont {
  width: 100%;
}
.boximag {
  width: 100%;
  position: relative;
}
.boximag img {
  width: 100%;
  height: 40%;
  /* max-width: 400px; */
}
.catinfo {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.boximag p {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  padding: 5px 10px;
}
#new1 li a {
  color: white;
}

@media screen and (min-width: 768px) {

  main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 20px;
    width: 80%;
    margin: 0 auto;

  }
  main img:hover {
    transform: rotate(2deg);
    transition: all 1s ease-out;
  }
  #new {
    display: flex;
    flex-direction: column;
  }
  #new1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  #new1 li {
    font-size: 24px;
  }
  #new1 li a {
    color: white;
  }
  #logo {
    font-family: 'Smokum', cursive;
    font-size: 50px;
    word-spacing: 5px;
    letter-spacing: 15px;
  }
  #new3 li a {
    color: white;
  }
}