.boxcont {
  width: 100%;
}
.boximag {
  width: 100%;
  position: relative;
}
.boximag img {
  width: 100%;
  height: 40%;
  /* max-width: 400px; */
}
.catinfo {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.boximag p {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  padding: 5px 10px;
}

@media screen and (min-width: 768px) {
  nav {
    border: solid red;
    width: 90%;
    margin: 0 auto;
    display: flex;
  }

  main {
    width: 60%;
    margin: 0 auto;
  }
}