@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

#logo {
  /* font-family: 'Smokum', cursive; */
  font-family: 'Rampart One', cursive;
  font-size: 30px;
}

.boxcont {
  width: 100%;
}
.boximag {
  width: 100%;
  position: relative;
}
.boximag img {
  width: 100%;
  height: 40%;
  /* max-width: 400px; */
}
.catinfo {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.boximag p {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  padding: 5px 10px;
}
#new1 li a {
  color: white;
}

@media screen and (min-width: 768px) {

  main {
    width: 60%;
    margin: 0 auto;
  }

  #new {
    display: flex;
    flex-direction: column;
  }
  #new1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  #new1 li {
    font-size: 24px;
  }
  #new1 li a {
    color: white;
  }
  #logo {
    font-family: 'Rampart One', cursive;
    font-size: 50px;
    word-spacing: 5px;
    letter-spacing: 15px;
  }
  #new3 li a {
    color: white;
  }
  #new1 li a {
    background: rgba(255, 255, 255, 0.123);
    padding: 0 8px;
    border-radius: 5px;
  }
  #new1 li a:hover {
    background: rgba(0, 255, 255, 0.281);
    color: black;
  }
}