/* nav {
  border: solid red;
}
.navbar-toggler {
  
} */
@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');
#logo {
  font-family: 'Smokum', cursive;
  font-size: 40px;
}
.boxcont {
  width: 100%;
}
.boximag {
  width: 100%;
  position: relative;
}
.boximag img {
  width: 100%;
  height: 40%;
  /* max-width: 400px; */
}
.catinfo {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.boximag p {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  padding: 5px 10px;
}
.secc1 {
  display: none;
}
#new1 li a {
  color: white;
}
.sec2 {
  padding: 20px;
  font-size: 20px;
}

@media screen and (min-width: 1000px) {
  #sec2 {
    display: flex;
    gap: 20px;
    font-size: 20px;
  }
  #sec2 img {
    width: 60%;
    height: 500px;
  }
  #main {
    padding: 0 40px;
  }
  #sec2 div {
    width: 100%;
  }
  #parra {
    font-size: 20px;
  }
  #new {
    display: flex;
    flex-direction: column;
  }
  #new1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 5px;
  }
  #new1 li {
    font-size: 24px;
  }
  #new1 li a {
    color: white;
  }
  #webcarousel {
    display: none;
  }
  #homepage {
    position: relative;
    margin-top: -90px;
  }
  #homepage div h2{
    font-size: 70px;
  }
  #homepage div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #smalltext {
    width: 50%;
    text-align: center;
    font-size: 25px;
    display: flex;
    gap: 20px;
  }
  .land {
    background: url(images/pexels-nadin-sh-9751991.jpg);
    background-size: cover;
  }
  .secc1{
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec2 {
    padding: 50px 100px;
    font-size: 20px;
  }
  #logo {
    font-family: 'Smokum', cursive;
    font-size: 50px;
    word-spacing: 5px;
    letter-spacing: 15px;
  }
  #new3 li a {
    color: white;
  }
}