/* nav {
  border: solid red;
}
.navbar-toggler {
  
} */
@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

#navvv {
  background: rgb(33, 37, 41);
}
#logo {
  /* font-family: 'Smokum', cursive; */
  font-family: 'Rampart One', cursive;
  font-size: 30px;
}
.boxcont {
  width: 100%;
}
.boximag {
  width: 100%;
  position: relative;
}
.boximag img {
  width: 100%;
  height: 40%;
  /* max-width: 400px; */
}
.catinfo {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.boximag p {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  padding: 5px 10px;
}
.secc1 {
  display: none;
}
#new1 li a {
  color: white;
}
.sec2 {
  padding: 20px;
  font-size: 20px;
}

.sec6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#button {
  width: 100%;
}
#button button {
  width: 100%;
}
#feeding, #temperament {
  padding: 20px;
}
@media screen and (min-width: 1000px) {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
  .sec6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
  }
  #feeding, #temperament {
    font-size: 20px;
    padding: 0 40px;
  }
  .sec7 {
    padding: 20px 400px;
    height: 600px;
    margin-bottom: 80px;
  }
  .sec7 img {
    height: 600px;
  }
  #button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #button button {
    width: 50%;
    margin: 10px 0;
  }
  #navvv {
    background: none;
  }
  #sec2 {
    display: flex;
    gap: 20px;
    font-size: 20px;
  }
  #sec2 img {
    width: 60%;
    height: 500px;
  }
  #main {
    padding: 0 40px;
  }
  #sec2 div {
    width: 100%;
  }
  #parra {
    font-size: 20px;
  }
  #new {
    display: flex;
    flex-direction: column;
  }
  #new1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 5px;
  }
  #new1 li {
    font-size: 24px;
  }
  #new1 li a {
    color: white;
  }
  #webcarousel {
    display: none;
  }
  #homepage {
    position: relative;
    margin-top: -90px;
  }
  #homepage div h2{
    font-size: 70px;
  }
  #homepage div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #smalltext {
    width: 50%;
    text-align: center;
    font-size: 25px;
    display: flex;
    gap: 20px;
  }
  #smalltext p {
    color: rgba(245, 245, 245, 0.842);
  }
  .land {
    background: url(images/pexels-nadin-sh-9751991.jpg);
    background-size: cover;
  }
  .secc1{
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec2 {
    padding: 50px 100px;
    font-size: 20px;
  }
  #logo {
    /* font-family: 'Smokum', cursive; */
    font-family: 'Rampart One', cursive;
    font-weight: 900;
    font-size: 50px;
    word-spacing: 5px;
    letter-spacing: 15px;
  }
  #new3 li a {
    color: white;
  }
  #new1 li a {
    background: rgba(255, 255, 255, 0.123);
    padding: 0 8px;
    border-radius: 5px;
  }
  #new1 li a:hover {
    background: rgba(0, 255, 255, 0.281);
    color: black;
  }
  #shadow {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.116);
    padding: 20px;
  }
  #shadow h2 {
    color: rgba(24, 23, 23, 0.884);
    font-family: 'Roboto', sans-serif;
  }
}